* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    color: #ffff;
    text-align: center;
    background-image: url(../images/donation12.jpg);
    background-repeat: no-repeat;
    width: auto;
    height: 500px;
}

.header {
    padding: 8%;
}

.header-title {
    font-size: 60px;
    font-weight: 900;


}


.btn-donate {
    color: #ffff;
    background: tomato;
    border: 0;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 700;
    margin-top: 25px;
    padding: 15px 30px;

}

/* header style end */

/* doneate section styles start */

.money-section{
    align-items: center;
    margin-top: 50px;
}

.section-title {
    color: #121212;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.section-description {
    color: #707070;
    text-align: center;
}

.money-amount {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
#donate-money{
    color: #FF5959;
    background-color: #FFEEEE;
    padding: 50px;
    border-radius: 5px;
    border: 2px solid #FF5959;
}
.money {
    color: rgb(68, 67, 67);
    background-color: #FAFAFA;
    padding: 50px;
    border-radius: 5px;
}
.Other-Amount{
text-align: center;
}
hr{
    margin: 8px 180px 0px;
   
}