* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    color: #ffff;
    text-align: center;
    background-image: url(../images/donation12.jpg);
    background-repeat: no-repeat;
    width: auto;
    height: 500px;
}
p{
    padding-top: 20px;
}
.header {
    padding: 8%;
}

.header-title {
    font-size: 60px;
    font-weight: 900;


}


.btn-donate {
    color: #ffff;
    background: tomato;
    border: 0;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 700;
    margin-top: 25px;
    padding: 15px 30px;
    margin-bottom: 60px;
}

/* header style end */

/* doneate section styles start */

.money-section {
    align-items: center;
    margin-top: 50px;
}

.section-title {
    color: #121212;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.section-description {
    color: #707070;
    text-align: center;
    padding: 10px;
}

.money-amount {
    display: flex;
    justify-content: space-between;
    padding: 50px 250px;
}

#donate-money {
    color: #FF5959;
    background-color: #FAFAFA;
    padding: 50px;
    border-radius: 5px;
    border: 2px solid #FF5959;
}

.money {
    color: rgb(68, 67, 67);
    background-color: #fcf4f4;
    padding: 50px;
    border-radius: 5px;
}

.Other-Amount {
    text-align: center;
}

hr {
    margin: 8px 240px 0px;

}

/* donate plan section styles */
.donate-plan {
    display: flex;
    justify-content: space-between;
    margin: 30PX 150PX;
    gap: 30px;
    
}
h3{
    padding-top: 20px;
}

.food {
    background-color: #e7fbfd;
    padding: 50px 25px;
    border-radius: 5px;
}

.shelter {
    background-color: #fdebeb;
    padding: 50px 25px;
    border-radius: 5px;
}

.education {
    background-color: #f8edd3;
    padding: 50px 25px;
    border-radius: 5px;
}
/* donation section styles */
.donation{
display: flex;
gap: 80px;
margin: 120PX 250PX 30px 150px;
}
.contribute{
  padding-top:50px;
}
.Contribute-title{

}
.Contribute-description{

}